{% extends 'women/base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="names">
        <h1>Лучший отдых - в СПА</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                  <img src="{% static 'women/images/iris_thai.jpg' %}" class="card-img-top" alt="Iris_Thai">
                  <div class="card-body">
                      <a class="link" href="https://instagram.com/iris_thai_spa?igshid=YmMyMTA2M2Y=">Iris_Thai_SPA</a>
                      <p class="card-text">Спа в подарок- это ново, нестандартно и действительно роскошно, а главное такой презент подходит и для мужчин для и женщин, для любого возраста, роста и веса!</p>
                      <a href="https://www.instagram.com/p/Ckhv3V_N4bf/?igshid=YmMyMTA2M2Y=" class="btn btn-primary">Подробнее</a>
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/mandarin.png' %}" class="card-img-top" alt="mandarin">
                <div class="card-body">
                    <a class="link" href="https://instagram.com/mandarin_spa_almaty?igshid=YmMyMTA2M2Y=">Mandarin_Spa_Almaty</a>
                    <p class="card-text">Спа в подарок- это ново, нестандартно и действительно роскошно, а главное такой презент подходит и для мужчин для и женщин, для любого возраста, роста и веса!</p>
                    <a href="https://www.instagram.com/reel/CpUFp0wIoVV/?igshid=YmMyMTA2M2Y=" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/vostok.jpg' %}" class="card-img-top" alt="Vostok">
                <div class="card-body">
                    <a class="link" href="https://instagram.com/spavostok?igshid=YmMyMTA2M2Y=">SPAVostok</a>
                    <p class="card-text">Спа в подарок- это ново, нестандартно и действительно роскошно, а главное такой презент подходит и для мужчин для и женщин, для любого возраста, роста и веса!</p>
                    <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3OTQyMDQ4NjI5MDU3OTg1?story_media_id=2797269470431775519&igshid=YmMyMTA2M2Y=" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/golden_thai.jpg' %}" class="card-img-top" alt="golden_thai">
                <div class="card-body">
                    <a class="link" href="https://instagram.com/golden.thai_spa?igshid=YmMyMTA2M2Y=">Golden.Thai_SPA</a>
                    <p class="card-text">Спа в подарок- это ново, нестандартно и действительно роскошно, а главное такой презент подходит и для мужчин для и женщин, для любого возраста, роста и веса!</p>
                    <a href="https://www.instagram.com/reel/CpZ0B5ArhiK/?igshid=YmMyMTA2M2Y=" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/morning_spa.jpg' %}" class="card-img-top" alt="morning_spa">
                <div class="card-body">
                    <a class="link" href="https://instagram.com/morningspa_almaty?igshid=YmMyMTA2M2Y=">MorningSpa_Almaty</a>
                    <p class="card-text">Спа в подарок- это ново, нестандартно и действительно роскошно, а главное такой презент подходит и для мужчин для и женщин, для любого возраста, роста и веса!</p>
                    <a href="https://www.instagram.com/p/CjzSPgnKx_0/?igshid=YmMyMTA2M2Y=" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/ankaraspa.jpg' %}" class="card-img-top" alt="Ankaraspa">
                <div class="card-body">
                    <a class="link" href="https://instagram.com/ankaraspa_almaty?igshid=YmMyMTA2M2Y=">Ankaraspa_Almaty</a>
                    <p class="card-text">Спа в подарок- это ново, нестандартно и действительно роскошно, а главное такой презент подходит и для мужчин для и женщин, для любого возраста, роста и веса!</p>
                    <a href="https://www.instagram.com/p/Cl1ZqrMtAFT/?igshid=YmMyMTA2M2Y=" class="btn btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
    </div>

    <div class="names">
        <h1>Подари ей ШОППИНГ</h1>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                  <img src="{% static 'women/images/gold_apple.jpg' %}" class="card-img-top" alt="Gold_Apple">
                  <div class="card-body">
                      <a class="link" href="https://goldapple.kz/cards/about">Золотое Яблоко</a>
                      <p class="card-text">Хочешь порадовать любимую Женщину, Но не знаешь, что Она любит? ПОДАРИ ЕЙ ШОППИНГ! И ВСЕ ДОВОЛЬНЫ! </p>
                  </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/aroma.jpg' %}" class="card-img-top" alt="Aroma">
                <div class="card-body">
                    <a class="link" href="https://kz.sistersaroma.com/ru/sertifikaty/">SISTER'S AROMA</a>
                    <p class="card-text">Хочешь порадовать любимую Женщину, Но не знаешь, что Она любит? ПОДАРИ ЕЙ ШОППИНГ! И ВСЕ ДОВОЛЬНЫ! </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/HM.jpg' %}" class="card-img-top" alt="HM">
                <div class="card-body">
                    <a class="link" href="https://www.hm.com/kz/customer-service/gift-cards/gift-cards/">H&M</a>
                    <p class="card-text">Хочешь порадовать любимую Женщину, Но не знаешь, что Она любит? ПОДАРИ ЕЙ ШОППИНГ! И ВСЕ ДОВОЛЬНЫ! </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/mon_amie.jpg' %}" class="card-img-top" alt="mon_amie">
                <div class="card-body">
                    <a class="link" href="https://www.monamie.kz/about/sertificats/">Mon Amie</a>
                    <p class="card-text">Хочешь порадовать любимую Женщину, Но не знаешь, что Она любит? ПОДАРИ ЕЙ ШОППИНГ! И ВСЕ ДОВОЛЬНЫ! </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/zara.jpg' %}" class="card-img-top" alt="Zara">
                <div class="card-body">
                    <a class="link" href="https://www.zara.com/kz/ru/z-podarochnaya-karta-corp1394.html">ZARA</a>
                    <p class="card-text">Хочешь порадовать любимую Женщину, Но не знаешь, что Она любит? ПОДАРИ ЕЙ ШОППИНГ! И ВСЕ ДОВОЛЬНЫ! </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="{% static 'women/images/sunshine.jpg' %}" class="card-img-top" alt="sunshine">
                <div class="card-body">
                    <a class="link" href="https://instagram.com/sunshine_jewelry_kz?igshid=YmMyMTA2M2Y=">Sunshine Jewelry</a>
                    <p class="card-text">Хочешь порадовать любимую Женщину, Но не знаешь, что Она любит? ПОДАРИ ЕЙ ШОППИНГ! И ВСЕ ДОВОЛЬНЫ! </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}